<!DOCTYPE html>

<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="margin-top: 40px">
        <form action="/sample/search">
            <input type="text" name="searchText" class="form-control" placeholder="Search Text"/>
            <br/>
            <input type="text" name="otherStuff" class="form-control" placeholder="Other Stuff" />
            <br/>   
            <button class="btn btn-success">Search</button>
        </form>
    </div>
</body>
</html>